bintrees==2.0.7
-e git+https://github.com/mcardillo55/coinbasepro-python.git@d2b8bed627339723ab214430fe93ade2331d757e#egg=cbpro
numpy==1.15.2
pymongo==3.5.1
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.13
requests==2.13.0
six==1.10.0
TA-Lib==0.4.17
websocket-client==0.40.0
