.VictoryContainer {
  background: white;
}

#chart {
  height: 630px;
  width: 1000px;
  border: 1px solid;
}
#chart-controller {
  display: inline-block;
  width: 1000px;
  height: 650px;
  margin-top: 50px;
}
#currency-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  height: 42px;
}

li {
  background: white;
  display: block;
  float: left;
  padding: 10px;
  text-decoration: none;
  border: 1px solid;
  height: 42px;
}

body {
  background: gray;
  text-align: center;
}