#chart-controller {
  display: grid;
  grid-template-columns: 9fr 3fr;
}
#currency-list {
  overflow-y: auto;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
#sidebar {
  display: grid;
  grid-template-rows: 1fr 2fr;
  border-left: 5px solid;
  max-height: 100vh;
}
#details {
  overflow-y: auto;
  border-top: 5px solid;
  font-weight: bold;
  padding: 10px;
}
#last-trade {
  font-size: 28px;
}
.indicator-data {
  font-weight: normal;
}
.indicator {
  margin: 8px 0px;
}

li {
  display: block;
  padding: 10px;
  text-decoration: none;
  height: 20px;
}

li:nth-child(odd) {
  background-color: rgb(28, 32, 48);
}

li.focused{
  background-color: rgb(33, 56, 77);
}

body {
  color: rgb(217, 217, 217);
  background: rgb(19, 23, 34);
}