key: mykey
secret: mysecret
passphrase: mypassphrase
sandbox: yes
live: no
frontend: curses
logging: no
fiat: USD
max_slippage: 0.10
periods:
  - name: BTC
    product: BTC-USD
    length: 5
    trade: yes
    meta: no
  - name: ETH
    product: ETH-USD
    length: 15
    trade: yes
    meta: no
  - name: LTC
    product: LTC-USD
    length: 30
    trade: yes
    meta: no
  - name: LTCETH
    product: LTC-ETH
    length: 30
    trade: no
    meta: yes