astroid==2.3.3
atomicwrites==1.2.1
attrs==18.2.0
bintrees==2.0.7
-e git+https://github.com/mcardillo55/coinbasepro-python.git@d2b8bed627339723ab214430fe93ade2331d757e#egg=cbpro
Click==7.0
Flask==1.1.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==4.3.0
numpy==1.15.2
pluggy==0.8.0
py==1.7.0
pylint==2.4.4
pymongo==3.5.1
pytest==4.0.1
pytest-mock==1.10.0
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.13
requests==2.20.0
six==1.13.0
sortedcontainers==2.1.0
TA-Lib==0.4.17
websocket-client==0.40.0
Werkzeug==0.16.0
wrapt==1.11.2
